body, html, #root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.speed-text {
  margin-top: -40px;
}

.help-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}